.header {
  height: 70px;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    146deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 170, 238, 1) 54%
  );
  -webkit-box-shadow: -1px 12px 26px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 12px 26px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 12px 26px -6px rgba(0, 0, 0, 0.75);
  z-index: 999;
}
.text-styles {
  font-size: 25px;
  padding-left: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
